.arrow
  position: relative
  color: var(--light-black)
  text-align: center
  font-size: 1.125em
  font-weight: 400
  line-height: 1.5
  letter-spacing: 0.36px
  margin-top: 1.2em
  p
    font-size: 1rem!important
    display: inline-flex
    align-items: center

  &:hover
    cursor: pointer
    text-decoration: underline


    path
      transition: all .15s ease-in-out
